/* CSS */
.swatch_1{
    background: #ebe9dc;
}
.swatch_2{
    background: #a1a1a1;
}
.swatch_3{
    background: #090706;
}
.swatch_4{
    background: #eacb29;
}
.swatch_5{
    background: #c279be;
}
.swatch_6{
    background: #5c4b3f;
}
.swatch_7{
    background: #986443;
}